.input {
  padding: 11px 16px 10px 16px;
  border: 0;
  margin-bottom: 17px;
  background: var(--object-color);
  box-shadow: inset 5px 5px 15px var(--shadow-black-color), inset -5px -5px 15px var(--shadow-inner-light-color);
  border-radius: 10px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 19px;
  outline: none;
}

.input:focus {
  outline: none;
}

.error {
  border: 2px solid #ff0000;
}
