.input {
  padding: 11px 16px 10px 16px;
  border: 0;
  margin-bottom: 17px;
  background: #e9edf1;
  box-shadow: inset 5px 5px 15px #b2c2d2, inset -5px -5px 15px #e9f2fb;
  border-radius: 10px;
  color: #5a6b7f;
  font-size: 16px;
  line-height: 19px;
  outline: none;
}

.input:focus {
  outline: none;
}

.error {
  border: 2px solid #ff0000;
}
