.link {
  text-decoration: none;
  width: 177px;
}

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 59px;
  align-self: flex-end;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
}
