.button {
  width: 52px;
  height: 52px;
  border: 0;
  border-radius: 30px;
  position: absolute;
  right: 14px;
  bottom: 16px;
  background-color: #e9edf1;
  cursor: pointer;
  box-shadow: 5px 5px 15px 0 #b2c2d2, -5px -5px 15px 0 #f2f9ff;
}

.button:hover {
  box-shadow: inset -5px -5px 15px #f2f9ff, inset 5px 5px 15px #b2c2d2;
}
