body {
  --text-color: #5a6b7f;
  --bkg-color: #eff4fa;
  --bkg-dark-color: #dce0e3;
  --object-color: #e9edf1;
  --card-hover-color: #d2e0f3;
  --shadow-light-color: #f2f9ff;
  --shadow-inner-light-color: #e9edf1;
  --shadow-black-color: #b2c2d2;
  --border-for-button: 0;
  --border-color-for-button: none;
  --column-shadow-light-color: #e9f2fb;
  --column-shadow-black-color: #b2c2d2;
}
body.dark-theme {
  --text-color: #fdfdfd;
  --bkg-color: #3a3a3a;
  --bkg-dark-color: #0c0c0c;
  --object-color: #3a3a3a;
  --card-hover-color: #2b2e34;
  --shadow-light-color: #3d4043;
  --shadow-inner-light-color: #383a3c;
  --shadow-black-color: #151a22;
  --border-for-button: 1;
  --border-color-for-button: #fdfdfd;
  --column-shadow-light-color: #003fba;
  --column-shadow-black-color: #001433;
}

html {
  margin: 0;
  font-size: 16px;
  font-family: 'Lab Grotesque', sans-serif;
}

body {
  margin: 0;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  color: var(--text-color);
}

.titleMedium {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.titleSmall {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.d287cb835f013051663e {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  width: 430px;
  margin-left: 47px;
  column-gap: 30px;
}

.a268790f2a86b9a14468 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.e519683956a67855b3ce {
  grid-column: 1/2;
  grid-row: 2/3;
}

.a81dc24e2ddc8f322b89 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.ced5f612f3c120a4bcc8 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.c7fcd00c8218d224b1e1 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.e07e809751b6015c2cbf {
  grid-column: 1/2;
  grid-row: 4/5;
}

.d4ce928879417a7bcfc4 {
  grid-column: 1/3;
  grid-row: 5/6;
}

.e1f71a08f0f611692dbf {
  grid-column: 1/3;
  grid-row: 6/7;
}
.c9a817d4ab505489b5a6 {
  grid-row: 7/8;
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}
.b84f0c06eb87a5e363bf {
  background-color: #f46770 !important;
}

.ce4334ab3676cb29ec78 {
  margin-left: auto;
  margin-right: auto;
}
.aaa0d9fe4064e0b195db {
  grid-row: 7/8;
}
.b63b8ae1af66f1e213d3 {
  margin-left: 83px;
}

.e2bee0279c7a9192792c {
  padding: 11px 16px 10px 16px;
  border: 0;
  margin-bottom: 17px;
  background: var(--object-color);
  box-shadow: inset 5px 5px 15px var(--shadow-black-color), inset -5px -5px 15px var(--shadow-inner-light-color);
  border-radius: 10px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 19px;
  outline: none;
}

.e2bee0279c7a9192792c:focus {
  outline: none;
}

.d1d5cd68732f0478e921 {
  border: 2px solid #ff0000;
}

.b0bb09684fc05a723e84 {
  width: 154px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Lab Grotesque', sans-serif;
  color: #fdfdfd;
  background-color: #5d9dff;
  cursor: pointer;
}

.be97efc7bafdc67f6092 {
  display: grid;
  width: 430px;
}

.c425147b8d225eaa0900 {
  display: grid;
  grid-template-columns: repeat(2, 234px);
  column-gap: 32px;
  row-gap: 20px;
  margin-left: 47px;
}

.bf3d18fd0916cde30567 {
  margin-bottom: 16px;
}

.d6d0d87bf9ae7c564f01 {
  grid-column: 1/3;
}

.d8f87305580d08a25d05 {
  background-color: #f46770 !important;
}
.c7f03ccf0126c2a9c6f4 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.e4aa056b3f8b2e38750e {
  margin-left: 47px;
}

.b61f8a14282b09648778 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 25%);
  animation-name: da88ff1c292984da199e;
  animation-duration: 300ms;
}

.cd18434983097cd4a9c8 {
  position: relative;
  min-width: 627px;
  width: auto;
  height: auto;
  border-radius: 25px;
  background: var(--bkg-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  animation-name: bd8241606d7301c2b25f;
  animation-duration: 0.5s;
}

.e04899b2ecac8284fe02,
.adbf6787a8911b952fcb {
  display: flex;
  align-items: center;
  padding: 28px;
}

.e04899b2ecac8284fe02 {
  justify-content: center;
  margin-bottom: 0;
}
.adbf6787a8911b952fcb {
  justify-content: space-around;
}

.e69bbdd02e897bcd8b62 {
  overflow: hidden;
}

.cec30388941458cf772e {
  padding: 0 16px;
  min-width: 500px;
}

.ce515e7bda0abde61b85 {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes da88ff1c292984da199e {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bd8241606d7301c2b25f {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}
.a470b785e9ec5beb8e76 {
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 10px;
  color: var(--bkg-color);
  cursor: pointer;
}

.a470b785e9ec5beb8e76:hover {
  color: #f46770;
}

.e8bb72ee178d350cd91d {
  margin: 28px auto 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  background: var(--object-color);
  border-radius: 25px;
  box-shadow: inset -5px -5px 15px var(--shadow-inner-light-color), inset 5px 5px 15px var(--shadow-black-color);
}

img {
  margin-left: 24px;
  height: 320px;
}

.cbb07f4b4b16132345c8 {
  text-decoration: none;
  width: 177px;
}

.c8b6fe0a61e2e3f80f0f {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 59px;
  align-self: flex-end;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
}

.fcd8e1b14f28e5cfdeff {
  height: 154px;
  position: relative;
  background-color: var(--object-color);
  border: 1px solid #5d9dff;
  border-radius: 15px;
  cursor: pointer;
}

.fcd8e1b14f28e5cfdeff:hover {
  background-color: var(--card-hover-color);
}

.fd60a834741775769eed {
  height: 116px;
  padding: 20px 14px 16px;
}

.d35c74bf6c3034b2592a {
  margin-bottom: 16px;
  overflow: hidden;
  word-wrap: break-word;
}

.c6c230c90749ee2e1197 {
  margin-bottom: 4px;
}

.ee357718aca7e0275894 {
  width: 52px;
  height: 52px;
  border: 0;
  border-radius: 30px;
  padding-top: 6px;
  position: absolute;
  right: 14px;
  bottom: 16px;
  background-color: var(--object-color);
  cursor: pointer;
  box-shadow: 5px 5px 15px 0 var(--shadow-black-color), -5px -5px 15px 0 var(--shadow-light-color);
}

.ee357718aca7e0275894:hover {
  box-shadow: inset -5px -5px 15px var(--shadow-inner-light-color), inset 5px 5px 15px var(--shadow-black-color);
}

.a1647d7c4838f524fbb9 {
  color: var(--object-color);
}

.b86b0f03c987fbce0767 {
  color: #5d9dff;
}

.e97cf015a8b95a26c325 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.ed368d54f488261b05d7 {
  width: 52px;
  height: 52px;
  border: 0;
  border-radius: 30px;
  background-color: var(--object-color);
  cursor: pointer;
  box-shadow: 5px 5px 15px 0 var(--shadow-black-color), -5px -5px 15px 0 var(--shadow-light-color);
  z-index: 1;
}

.ed368d54f488261b05d7:hover {
  box-shadow: inset -5px -5px 15px var(--shadow-inner-light-color), inset 5px 5px 15px var(--shadow-black-color);
}

.d8cada4384c0a1d9a4de {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 27px;
  z-index: 0;
}

.ee9b777e5594e22a1117 {
  height: 40px;
  width: 196px;
  color: #f46770;
  background: var(--bkg-color);
  border: 1px solid #f46770;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
  font-size: 16px;
  padding-right: 24px;
}

.ee9b777e5594e22a1117:nth-child(2) {
  border-radius: 0 0 5px 5px;
  top: 0;
}

.ee9b777e5594e22a1117:hover {
  background: #f46770;
  color: var(--bkg-color);
}

.bcb150df14231c1b523b {
  color: #f46770;
}

.c8e245f8b95a290462e5 {
  color: var(--object-color);
}

.cb832eded86391c4ce6a {
  width: 52px;
  height: 52px;
  border: 0;
  border-radius: 30px;
  background-color: var(--object-color);
  box-shadow: 5px 5px 15px 0 var(--shadow-black-color), -5px -5px 15px 0 var(--shadow-light-color);
  cursor: pointer;
  position: fixed;
  bottom: 38px;
  right: 38px;
  z-index: 1;
}

.cb832eded86391c4ce6a:hover {
  box-shadow: inset -5px -5px 15px var(--shadow-inner-light-color), inset 5px 5px 15px var(--shadow-black-color);
}

.select {
  margin-left: 42px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked + label::before {
  border-color: #5d9dff;
  background-color: #5d9dff;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 8 8%27%3e%3cpath fill=%27%23fff%27 d=%27M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z%27/%3e%3c/svg%3e");
}

div .react-select__control {
  cursor: pointer;
}

.react-select-container .react-select__control {
  min-width: 200px;
  height: 40px;
  background-color: var(--object-color);
  border: 0;
  border-radius: 10px;
  box-shadow: inset 5px 5px 15px var(--shadow-black-color), inset -5px -5px 15px var(--shadow-inner-light-color);
}

.react-select__menu .react-select__option {
  background-color: unset;
  color: var(--text-color);
  cursor: pointer;
}

.react-select__menu .react-select__option:hover,
.react-select__menu .react-select__option:active {
  background-color: var(--object-color);
  color: #5d9dff;
}

.react-select__menu .react-select__option--is-selected {
  color: #5d9dff;
}

.react-select__menu-list {
  background-color: var(--object-color);
}

.react-select__value-container .react-select__placeholder {
  color: var(--text-color);
}

div .css-1rhbuit-multiValue {
  background: none;
}

.react-select__multi-value .react-select__multi-value__label,
.react-select__multi-value .react-select__multi-value__remove {
  color: #fdfdfd;
  background-color: #5d9dff;
  border-radius: 5px 0 0 5px;
}

.react-select__multi-value .react-select__multi-value__remove {
  border-radius: 0 5px 5px 0;
}

.react-select__multi-value .react-select__multi-value__remove:hover {
  background-color: #f46770;
}

.a4b3ba0d0542de2e49ee {
  width: auto;
  min-width: 958px;
  max-width: 1400px;
  margin: 4vh auto;
  height: auto;
  border-radius: 25px;
  background-color: var(--bkg-color);
  box-shadow: 10px 10px 20px 0 var(--shadow-black-color);
}

.e16610dfdf1d45b29596 {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.f0e9c1d4d6608b151307 {
  margin-top: 8px;
  width: 45px;
  height: 45px;
  background: var(--bkg-color);
  border-radius: 25px;
  box-shadow: 1px 2px 5px var(--shadow-black-color), inset -2px -3px 14px var(--shadow-black-color);
}

.d4dac345b881b5ed1223 {
  position: relative;
  bottom: 29px;
}

.de20a8ccf45cc36e6a35 {
  margin-left: 42px;
  min-width: 154px;
}

.c00e3c9347864d005054 {
  display: flex;
  justify-content: space-between;
  margin: 8px 36px 0;
}

.be7508d37d588d20b34d {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-rows: repeat(auto-fit, 154px);
  grid-gap: 24px 16px;
  margin: 28px 36px 36px;
}

.f5dae4d3b16732235254 {
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
}

.b3224dbb71b0445ddf23 {
  width: 320px;
  height: 1px;
  background-color: #b2c2d2;
  margin-bottom: 8px;
}

.c1a7cc47ce7a445a51ca {
  color: #5d9dff;
  text-align: start;
}

@media (max-width: 1520px) {
  .a4b3ba0d0542de2e49ee {
    margin: 4vh 50px;
  }
}

.b59b0cc747596611abdc {
  margin-left: 42px;
}

.fda4964866462f1726f4 {
  width: 210px;
  height: 40px;
  display: flex;
  align-items: center;
}

.c2193883f10ccd180547 {
  position: relative;
}

.c91f781e00557a58fa72 {
  transform: scale(1, -1);
}

.b0e4fedbc09bca18b0fd {
  margin-left: 8px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 18px;
}

.c5b1a42fd577e3692714 {
  width: 140px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 36px;
  left: 16px;
  z-index: 1;
  filter: drop-shadow(0px 0px 15px var(--shadow-black-color));
}

.bd00c66704e21665a2e7 {
  width: 140px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: var(--object-color);
  color: var(--text-color);
  cursor: pointer;
}

.bd00c66704e21665a2e7:hover {
  background-color: #5d9dff;
  color: #e9edf1;
}

.c7b755d706ceca15bb95 {
  width: 15px;
  height: 100vh;
  background: linear-gradient(var(--bkg-color), var(--bkg-dark-color));
  box-shadow: -5px -12px 20px -4px var(--column-shadow-black-color) inset,
    5px 15px 20px 10px var(--column-shadow-light-color) inset;
}

.bbbd368db096b1fc2b0d {
  width: 100vw;
  height: auto;
  position: fixed;
  background: linear-gradient(var(--bkg-color), var(--bkg-dark-color));
  display: flex;
  justify-content: space-evenly;
  left: 0;
  top: 0;
  z-index: -1;
}


/*# sourceMappingURL=main.dec012b4b3c4538a82a1.css.map*/