.position {
  margin: 28px auto 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  background: var(--object-color);
  border-radius: 25px;
  box-shadow: inset -5px -5px 15px var(--shadow-inner-light-color), inset 5px 5px 15px var(--shadow-black-color);
}

img {
  margin-left: 24px;
  height: 320px;
}
