.input {
  padding: 5px;
  top: 35px;
  border: 0;
  margin-bottom: 17px;
  background: var(--object-color);
  box-shadow: inset 5px 5px 15px var(--shadow-black-color), inset -5px -5px 15px var(--shadow-inner-light-color);
  border-radius: 10px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 19px;
}
