.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  width: 430px;
  margin-left: 47px;
  column-gap: 30px;
}

.name {
  grid-column: 1/3;
  grid-row: 1/2;
}

.count {
  grid-column: 1/2;
  grid-row: 2/3;
}

.measurement {
  grid-column: 2/3;
  grid-row: 2/3;
}

.price {
  grid-column: 1/2;
  grid-row: 3/4;
}

.total {
  grid-column: 2/3;
  grid-row: 3/4;
}

.date {
  grid-column: 1/2;
  grid-row: 4/5;
}

.buy {
  grid-column: 1/3;
  grid-row: 5/6;
}

.replacement {
  grid-column: 1/3;
  grid-row: 6/7;
}
.cordinat {
  grid-row: 7/8;
}
