.card {
  height: 154px;
  position: relative;
  background-color: var(--object-color);
  border: 1px solid #5d9dff;
  border-radius: 15px;
  cursor: pointer;
}

.card:hover {
  background-color: var(--card-hover-color);
}

.cardInfo {
  height: 116px;
  padding: 20px 14px 16px;
}

.titleMedium {
  margin-bottom: 16px;
  overflow: hidden;
  word-wrap: break-word;
}

.titleSmall {
  margin-bottom: 4px;
}

.checkButton {
  width: 52px;
  height: 52px;
  border: 0;
  border-radius: 30px;
  padding-top: 6px;
  position: absolute;
  right: 14px;
  bottom: 16px;
  background-color: var(--object-color);
  cursor: pointer;
  box-shadow: 5px 5px 15px 0 var(--shadow-black-color), -5px -5px 15px 0 var(--shadow-light-color);
}

.checkButton:hover {
  box-shadow: inset -5px -5px 15px var(--shadow-inner-light-color), inset 5px 5px 15px var(--shadow-black-color);
}

.uncheckIcon {
  color: var(--object-color);
}

.checkIcon {
  color: #5d9dff;
}
