.background {
  width: auto;
  min-width: 958px;
  max-width: 1400px;
  margin: 4vh auto;
  height: auto;
  border-radius: 25px;
  background-color: var(--bkg-color);
  box-shadow: 10px 10px 20px 0 var(--shadow-black-color);
}

.backtacks {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.backtack {
  margin-top: 8px;
  width: 45px;
  height: 45px;
  background: var(--bkg-color);
  border-radius: 25px;
  box-shadow: 1px 2px 5px var(--shadow-black-color), inset -2px -3px 14px var(--shadow-black-color);
}

.workspace {
  position: relative;
  bottom: 29px;
}

.addButton {
  margin-left: 42px;
  min-width: 154px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 8px 36px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-rows: repeat(auto-fit, 154px);
  grid-gap: 24px 16px;
  margin: 28px 36px 36px;
}

.bottomMenu {
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
}

.line {
  width: 320px;
  height: 1px;
  background-color: #b2c2d2;
  margin-bottom: 8px;
}

.total {
  color: #5d9dff;
  text-align: start;
}

@media (max-width: 1520px) {
  .background {
    margin: 4vh 50px;
  }
}

.dataText {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
