.background {
  width: auto;
  min-width: 760px;
  max-width: 1400px;
  margin: 4vh auto;
  height: auto;
  border-radius: 25px;
  background-color: #eff4fa;
  box-shadow: 10px 10px 20px 0 #b2c2d2;
}

.backtacks {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.backtack {
  margin-top: 8px;
  width: 45px;
  height: 45px;
  background: #eff4fa;
  border-radius: 25px;
  box-shadow: 1px 2px 5px #b2c2d2, inset -2px -3px 14px #b2c2d2;
}

.workspace {
  position: relative;
  bottom: 29px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 8px 36px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-rows: repeat(auto-fit, 154px);
  grid-gap: 24px 16px;
  margin: 28px 36px 36px;
}

.bottomMenu {
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
}

.line {
  width: 320px;
  border: 1px solid #5a6b7f;
}

.total {
  color: #5d9dff;
  text-align: start;
}

@media (max-width: 1520px) {
  .background {
    margin: 4vh 50px;
  }
}

.dataText {
  font-size: 18px;
}
