.background {
  background: #e9edf1;
  box-shadow: inset 5px 5px 15px #b2c2d2, inset -5px -5px 15px #e9f2fb;
  border-radius: 10px;
  height: 30px;
  width: 490px;
  padding: 5px;
  top: 35px;
  border: 0;
  margin-bottom: 17px;
}
