.sort {
  width: 210px;
  height: 40px;
  display: flex;
  align-items: center;
}

.buttons {
  position: relative;
}

.image {
  transform: scale(1, -1);
}

.mainButton {
  margin-left: 8px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 18px;
}

.buttonList {
  width: 140px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 36px;
  left: 16px;
  z-index: 1;
  filter: drop-shadow(0px 0px 15px var(--shadow-black-color));
}

.button {
  width: 140px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: var(--object-color);
  color: var(--text-color);
  cursor: pointer;
}

.button:hover {
  background-color: #5d9dff;
  color: #e9edf1;
}
