body {
  margin: 0;
  font-family: 'Lab Grotesque', sans-serif;
  color: #5a6b7f;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
