.position {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.button {
  width: 52px;
  height: 52px;
  border: 0;
  border-radius: 30px;
  background-color: var(--object-color);
  cursor: pointer;
  box-shadow: 5px 5px 15px 0 var(--shadow-black-color), -5px -5px 15px 0 var(--shadow-light-color);
  z-index: 1;
}

.button:hover {
  box-shadow: inset -5px -5px 15px var(--shadow-inner-light-color), inset 5px 5px 15px var(--shadow-black-color);
}

.buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 27px;
  z-index: 0;
}

.buttonDelete {
  height: 40px;
  width: 196px;
  color: #f46770;
  background: var(--bkg-color);
  border: 1px solid #f46770;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
  font-size: 16px;
  padding-right: 24px;
}

.buttonDelete:nth-child(2) {
  border-radius: 0 0 5px 5px;
  top: 0;
}

.buttonDelete:hover {
  background: #f46770;
  color: var(--bkg-color);
}

.redColor {
  color: #f46770;
}

.whiteColor {
  color: var(--object-color);
}
